{% extends "base_site.html" %}
{% block breadcrumbs %}<div class="breadcrumbs">
   Home </div> {% endblock %}
{% block pretitle %} <h1> Welcome to Chris Burns' MWO Observing Tool </h1> 
{% endblock %}
{% block content %}
<P>
<img src=/media/imgs/100_inch_view.001.jpeg><br><P>
Here are some custom tools developed by Chris Burns, specifically to help
with operating the telescopes at <a href='https://mtwilson.edu'>
Mount Wilson Observatory</a>.</P>
<UL>
   <LI><h3><a href="navigator/">The Interactive Nicholson List</a></h3>
       This tool
       gives both a spreadsheet-like list of currently visible objects
       as well as visual representation of the sky. Best viewed with a
       browser window at least 1400 pixels wide (or you can scale it down
       using your browser's controls).</LI>
   <LI><h3><a href='https://docs.google.com/spreadsheets/d/1InFeGjT49p_HtvLEVNgQ4355sj8c_4hS5B_wVZ03hHk/edit?usp=sharing'>Birthday/Anniversary Star Finder</a></h3>
       This is a google spreadsheet with all visible (V>12) stars within 
       100 ly of the
       Earth. It is sorted by distance (in ly), so hopefully easy to find
       a star that matches a specific year. It is shared read-only, so can
       be viewed, but if you want to filter and/or sort the data, you will
       need to make a copy to your own google account.
   <LI><h3><a href="/media/60-inchOperationsManual.pdf">60-inch Operations 
       Manual</a></h3></LI>

   <LI><h3>Weather Links</h3>
       <UL>
          <LI><a href="https://ambientweather.net/dashboard/c68efe875521e576a9694913bdd92e65">Richard Bell's Weather Station</a></LI>
          <LI><a href="https://www.cleardarksky.com/c/MtWilsonOBCAkey.html">The
              Mount Wilson Observatory Clear Sky Chart</a></LI>
          <LI><a href="https://forecast.weather.gov/MapClick.php?site=lox&smap=1&textField1=34.22639&textField2=-118.06528">National Weather Service forecast</a></LI>
          <LI><a href="https://www.hpwren.ucsd.edu/cameras/S/SD/wilson.html">
              HPWREN tower cameras</a></LI>
      </UL></LI> 
   <LI><h3><a href="https://github.com/chrisrburns/obstool">GitHub Site</a></h3>
      If you want to run the tool natively on your own computer, you can 
      go here to get the code. It runs under python with only a few extra
      modules, so likely can run on Mac, Windows, or Linux.</LI>
   <LI><h3><a href="admin/">Site Administration</a></h3></LI>
</UL>
{% endblock %}
