{% extends "base_site.html" %}
{% load myfilters %}
{% block style %}
{% if auto_reload %} <meta http-equiv="refresh" content="60"> {% endif %}
<script src="/media/js/jquery-3.4.1.min.js"></script>
<script src="/media/js/jquery.datetimepicker.full.js"></script>
<script src="/media/js/bokeh/bokeh.min.js"></script>
<link rel="stylesheet" href="/media/css/bokeh/bokeh.min.css">
<link rel="stylesheet" href="/media/css/jquery.datetimepicker.css">
{{ script|safe }}
{{ script2|safe }}
<script type="text/javascript">
   function hide_section(element) {
      xhttp = new XMLHttpRequest();
      id = element.parentNode.parentNode.id;
      els = element.parentNode.parentNode.children;
      getstr = "update_session";
      sendstr = "csrfmiddlewaretoken={{ csrf_token }}&var=module_display&key="+id+"&val=";
      for (var i = 0 ; i < els.length ; i++) {
         if (els[i].tagName != "H2") {
            if (els[i].style.display == 'none') {
               xhttp.open("POST", getstr, true);
               xhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
               xhttp.send(sendstr+"inline");
               els[i].style.display = "inline";
            } else {
               els[i].style.display = "none";
               xhttp.open("POST", getstr, true);
               xhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
               xhttp.send(sendstr+"none");
            }
         }
      }
   }
   function mysearch(obj) {
         var search_string = document.getElementById('SearchText').value;
         if (search_string != 'Search...') {
            window.location = "./search/"+search_string;
         }
   }
   function openTab(evt, name) {
      var i;
      var x = document.getElementsByClassName("TabPanel");
      xhttp = new XMLHttpRequest();
      getstr = "update_session";
      sendstr = "csrfmiddlewaretoken={{ csrf_token }}&var=selected_tab&val="+name;
      xhttp.open("POST", getstr, true);
      xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      xhttp.send(sendstr);
      for (i = 0; i < x.length ; i++) {
         x[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablink");
      for (i = 0; i < tablinks.length; i++ ) {
         tablinks[i].className = tablinks[i].className.replace(" tab-selected","");
      }
      document.getElementById(name).style.display = "block";
      evt.currentTarget.className += " tab-selected";
   }
</script>
{% endblock %}
{% block breadcrumbs %}<div class="breadcrumbs"><a href="../index.html">Home</a> &rsaquo;Object Listing</div> {% endblock %}
{% block pretitle %}
<div style="width:570px; float:left;">
   <h2 style="margin: 0;">Object Listing for {{date}} (UT{{ tz_offset }})<br>
      Sideral time: {{ sid_time }}
   </h2>
</div>
<div style="float: left; margin-left: -180px;">
   <input value="Search..." id="SearchText" style="color:GrayText" 
          onchange="SearchText" 
          onfocus="javascript:this.value=''" 
          onblur="javascript: if(this.value==''){this.value='Search...';}" />
          <input id="searchbutton" type="button"  value="Search" 
                 class="button" onclick="mysearch(this)" />

                 <br><a href="add_object">Add Object</a>
</div>
<script>
   var input = document.getElementById("SearchText");
   input.addEventListener("keyup", function(event) {
      event.preventDefault();
      console.log(event.keyCode);
      if (event.keyCode == 13) {
         document.getElementById("searchbutton").click();
      }
   });
</script>
{% endblock %}
{% block content %}
<div id="content-main" style="width:570px;">
   <ul class="tabs">
      <li><a href="javascript:void(0)" 
        class="tablink {% if selected_tab == 'table' %} tab-selected{% endif %}"
        onclick="openTab(event,'table')">List</a></li>
     <li><a href="javascript:void(0)" 
        class="tablink {% if selected_tab == 'skyplot' %} tab-selected{% endif %}"
             onclick="openTab(event,'skyplot')">Sky</a></li>
     <li><a href="javascript:void(0)" 
        class="tablink {% if selected_tab == 'HPWREN' %} tab-selected{% endif %}"
             onclick="openTab(event,'HPWREN')">HPWREN</a></li>
     <li><a href="javascript:void(0)" 
        class="tablink {% if selected_tab == 'Weather' %} tab-selected{% endif %}"
             onclick="openTab(event,'Weather')">Weather</a></li>
   </ul>
   <div class="TabPanel" id="table" 
      {% if selected_tab != 'table' %}style="display:none;"{% endif %}>
      {% if object_list %}
      <table class='sortable' cellspacing="0" border=1 id="result_list"
         width=100%>
         <thead>
            <tr>
               <th>Rating</th>
               <th>Name</th>
               <th>HA</th>
               <th>alt</th>
               <th>Set</th>
               <th>Type</th>
               <th>Description</th>
            </tr>
         </thead>
         <tbody>
            {% for obj in object_list %}
            <tr class="{% cycle 'row1' 'row2' %}">
               <td>{{ obj.srating|safe }}{% if obj.dark %}&nbsp;D{% endif %}</td>
               <th><a href="{{ obj.id }}/basic" {% if new_window %} target="detailFrame" {% endif %}>{{ obj.name }}</a></th>
               <td>{{ obj.hour_angle|format:"%.1f" }}</td>
               <td>{{ obj.altitude|format:"%.1f" }}</td>
               <td>{{ obj.settime }} </td>
               <td>{{ obj.objtype }}</td>
               <td>{{ obj.descr }} </td>
            </tr>
            {% endfor %}
         </tbody>
      </table>
      {% else %}
         <p> No objects in database</p>
      {% endif %}
   </div>
   <div class="TabPanel" id="skyplot"
      {% if selected_tab != 'skyplot' %}style="display:none;"{% endif %}>
      {{ div|safe }}
   </div>
   <div class="TabPanel" id="HPWREN"
      {% if selected_tab != 'HPWREN' %}style="display:none;"{% endif %}>
      <table border=0>
         <tr style="text-align: center;"><td colspan=2>
            <img src="http://hpwren.ucsd.edu/cameras/L/wilson-n-mobo-m.jpg"
                      width="250"><br></td>
         </tr>
         <tr><td>
             <img src="http://hpwren.ucsd.edu/cameras/L/wilson-w-mobo-m.jpg"
                  width="250"></td>
            <td> <img src="http://hpwren.ucsd.edu/cameras/L/wilson-e-mobo-m.jpg"
                      width="250"><br></td>
         </tr>
         <tr style="text-align:center;">
            <td colspan=2><img src="http://hpwren.ucsd.edu/cameras/L/wilson-s-mobo-m.jpg"
                     width="250"></td>
            </tr>
      </table>
   </div>
   <div class="TabPanel" id="Weather"
      {% if selected_tab != 'Weather' %}style="display:none;"{% endif %}>
      <a href=http://www.cleardarksky.com/c/MtWilsonOBCAkey.html>
      <img src="http://www.cleardarksky.com/c/MtWilsonOBCAcsk.gif?c=147617"
          width=550></a>
      <div style="width: 550px;">
         <iframe style="display: block;" 
            src="https://cdnres.willyweather.com/widget/loadView.html?id=110329"
            width="550" height="520" frameborder="0"  scrolling="no">
         </iframe>
         <a style="z-index: 1;margin: -20px 0 0 0;text-indent: -9999em;display: block;height: 20px;position: relative" href="https://www.willyweather.com/ca/los-angeles-county/mount-wilson.html" rel="nofollow">mount wilson Forecast</a></div>
      </div>
   </div>

</div>
<iframe height=1200 width=580 src="/navigator/{{ selected_object }}/basic" name="detailFrame"
   scrolling="no" style="border: 0px; display:block; float:left;"></iframe>
<div id="content-related">
   <div class="module" id="tinfo">
      <h2>Telescope Position
         <button style="float: right;" onclick="hide_section(this)">_</button>
      </h2>
      <div id=body style="display: {{ module_display.tinfo }};">
         <table border=0>
            <tr>
               <td>RA:</td><td> {{ tel_RA }} </td>
            </tr>
            <tr>
               <td>DEC:</td><td> {{ tel_DEC }} </td>
            </tr>
            <tr>
               <td>HA:</td><td> {{ tel_ha }} </td>
            </tr>
            <tr>
               <td>Alt:</td><td> {{ tel_alt }}&deg; </td>
            </tr>
            <tr>
               <td>Az:</td><td> {{ tel_az }}&deg;</td>
            </tr>
         </table>
         <br>
         <form action="" method="POST">{% csrf_token %}
            <input type=submit name='action' value='Park'>
         </form>
      </div>
   </div>

   <form action="" method="post">{% csrf_token %}
     <div class="module" id="settings">
        <h2>Settings
           <button style="float: right;" onclick="hide_section(this)">_</button>
        </h2>
        <div id=body style="display: {{ module_display.settings }};">
            Date:  {{ form.epoch.errors }} {{ form.epoch }}<br>
            <div style="text-align: center;">
               <font size=-2>(yyyy-mm-dd hh:mm)<br>Blank = now </font>
            </div><br>
            <center>
            <input type="submit" name="action" value="-1h">
            <input type="submit" name="action" value="-30m">
            <input type="submit" name="action" value="+30m">
            <input type="submit" name="action" value="+1h"></center><br>
            UTC offset: {{ form.tz_offset.errors }} {{ form.tz_offset }}<br>
            <div style="text-align: center;">
               <font size=-2>PDT = -7<br>
                             PST = -8</font>
            </div><br>
            {{ form.new_window.errors }} {{ form.new_window }} Links opens new window/tab
            <br>
            {{ form.auto_reload.errors }} {{ form.auto_reload }} Refresh Automatically
            <br>
  
           <input type="submit" name='action' value="Update">
           <input type="submit" name='action' value="Reset">
        </div>
     </div>
     <script>
      $(function () {
         $("#id_epoch").datetimepicker({
            format: 'Y-m-d H:i',
         });
      });
     </script>
     <div class="module" id="filters">
        <h2>Filters
           <button style="float: right;" onclick="hide_section(this)">_</button>
        </h2>
        <div id=body style="display: {{ module_display.filters }};">
           Rating &ge;
           {{ form.non_field_errors }}
           {{ form.rating_low.errors }} {{ form.rating_low}}
           <br>
           |HA| &le; {{ form.ha_high.errors }} {{ form.ha_high}}
           <br>
           Types: {{ form.show_types.errors }} {{ form.show_types }}
           <br>
           {{ form.only_visible.errors }}
           <label for="id_only_visible">Telescope Limits:</label> {{ form.only_visible }}
           <br>
           <input type="submit" name='action' value="Update">
           <input type="submit" name='action' value="Reset">
       </div>
     </div>
   </form>
   <br>
</div>
{% endblock %}
